@model DFC.App.JobProfiles.HowToBecome.ViewModels.DataModels.RealStory;

<section class="job-profile-subsection" id="real-story">
    <h3>Real career story</h3>
    <div class="job-profile-subsection-content">
        <p>@Model.Summary</p>

        @if (Model.Thumbnail != null)
        {
            <img class="job-profile-real-story-image" src="@Model.Thumbnail.Url" alt="@Model.Thumbnail.Text" />
        }

        <div class="ncs-highlight-box govuk-!-margin-top-4">
            <div class="ncs-highlight-box__card">
                @Html.Raw(Model.BodyHtml)
            </div>
        </div>
    </div>
</section>
